<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <h1>제목 : <%=board.title%> </h1>
      <h3>작성자 : <%=board.author%> </h3>
      <h3>내용 : <%=board.contents%> </h3>
      <h3>댓글 : <%=board.comments.id%> </h3>
    <hr>  
    <form action="comment/write/<%= board._id%>" method="post">
      <input type="text" name="id" value="<%=board._id%>" hidden>
      댓글 : <textarea name="contents"></textarea><br>
      글쓴이 : <input type="text" name="author"><br>
      <input type="submit" value="확인">
    </form>
  </body>
</html>
